
*.psd

Cliplay/Resources/splash/Default-568h@2x~iphone.png_.png

Cliplay/Resources/splash/Default-667h.png_.png

Cliplay/Resources/splash/Default-736h.png_.png

Cliplay/Resources/splash/Default-Portrait@2x~ipad.png_.png

Cliplay/Resources/splash/Default-Portrait~ipad.png_.png

Cliplay/Resources/splash/Default@2x~iphone.png_.png

Cliplay/Resources/splash/Default~iphone.png_.png

Cliplay/Resources/ionic.min.css_new.css

Cliplay/Resources/ionic.min.css_no_encrpted.css

Cliplay/Resources/ionic.min.css_old.css
